# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List libraries used by Data Scientists
- Create a markdown cell with a table of Data Science tools
- Understand and evaluate basic arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

 1. Matplotlib
 2. Pandas
 3. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter notebooks  |
|      RStudio       |
|      Hadoop        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 # This is a simple arithmetic expression to mutiply then add integers

17

In [7]:
minutes = 200
hours = minutes/60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Luca Caetano